* {
    margin: 0;
    padding: 0;
}

html{
	margin: 0px auto;
}

body{
	margin: 0px auto;
	font-family: "Comic Sans MS", cursive;
	background-color: lightgray;
}

header{
	background: url("images/headerBG.jpeg");
	width: 100%;
	height: 100px;
	background-size: cover;
	background-position: center bottom;
	background-repeat: no-repeat;
}

#logoContainer{
	height: 40px;
	width: 170px;
	border: 3px solid black;
	border-radius: 0px 10px 10px 0px;
	color: white;
	background-color: black;
}

#logo{
	float: left;
	height: 40px;
	width: 30px;
}

nav{
	background-color: black;
}

nav ul li{
	display: inline-block;
	text-align: center;
	font-size: 18px;
	font-weight: 700;
}

nav ul li a{
	color: #eeeeee;
	text-decoration: none;
	margin: 0px auto;
}

nav ul li:after{
	padding: 8px;
	font-weight: 100;
	content: "|";
	color: black;
	text-shadow: 1px 0px white;
	font-weight: 100px;
}

nav ul li a:hover, nav ul li a:focus{
	text-decoration: underline;
}

#anchor{
	float: left;
	width: 170px;
	border: 5px solid black;
	border-left: 0px;
	border-top: 0px;
	background-color: white;
	padding: 5px 5px;
}

#anchor ul li a{
	text-decoration: none;
}

#anchor ul li a:hover, #anchor ul li a:focus{
	text-decoration: underline;
}

#donate{
	float: right;
	width: 170px;
	border: 5px solid black;
	border-right: 0px;
	border-radius: 10px 0px 0px 10px;
	margin-top: 20px;
	background-color: white;
	padding: 5px 5px;
}

#donate h1{
	text-decoration: underline;
}

#content{
	margin-top: 20px;
	margin-left: 185px;
	margin-right: 185px;
	padding: 0 5%;
}

#dailyMeme{
	max-width: 450px;
	float: left;
}

#dailyTitle{
	border: 5px solid gold;
	background-color: #fffdba;
	border-radius: 10px;
	text-align: center;
	margin-bottom: 10px;
}

#dailyContainer{
	border: 5px solid gold;
	border-radius: 10px;
	background-color: #fffdba;
	font-size: 14px;
	height: 320px;
}

#dailyImg{
	float: left;
	width: 175px;
	height: 209px;
	padding: 5px 15px 0px 0px;
}

#dailyMoveRight{
	padding-top: 20px;
	padding-left: 30px;
}

#trendingMemes{
	width: 450px;
	float: right;
}

#trendingPepe{
	width: 155px;
	height: 155px;
	padding-top: 10px;
	padding-right: 10px;
	float: right;
}

#trendingTitle{
	border: 5px	solid green;
	border-radius: 10px;
	text-align: center;
	background-color: #baffbd;
	margin-bottom: 10px;
}

#trendingContainer{
	border: 5px solid green;
	border-radius: 10px;
	background-color: #baffbd;
	padding-left: 20px;
	height: 320px;
}

#trendingContainer ol li{
	padding-bottom: 10px;
}

#memeHistory{
	padding-top: 20px;
	float: left;
	max-width: 450px;
}

#historyContainer{
	border: 5px solid #ba9d55;
	background-color: #e5c990;
	border-radius: 10px;
	height: 320px;
}

#historyTitle{
	text-align: center;
	border: 5px solid #ba9d55;
	border-radius: 10px;
	background-color: #e5c990;
	margin-bottom: 10px;
}

#historyContainer ul > li{
	list-style: none;
	padding-bottom: 15px;
}

#memeNews{
	padding-top: 20px;
	max-width: 450px;
	float: right;
}

#newsContainer{
	border: 5px solid red;
	background-color: #e86868;
	border-radius: 10px;
	height: 320px;
}

#newsTitle{
	text-align: center;
	border: 5px solid red;
	border-radius: 10px;
	background-color: #e86868;
	margin-bottom: 10px;
}

.bold{
	font-weight: bolder;
	text-decoration: underline;
}

.red{
	color: red;
}